body{
	margin: 0;
	padding: 0;
	color: white;
	background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2018/milkyway.jpg");
	background-size: cover;
	background-position: center;
}
a {
	color: white;
}
ul li {
	font-size: 1.4rem;
}
